  <!DOCTYPE HTML>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Web Chat Room</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="../static/chat.css">
      <script src="../static/chat.js"></script>
    </head>
    <body>
        <header>
            <h1>This is a chat room. Awesome Sauce.</h1> 
        </header>
        <main>
          <!-- Going to automate with Flask-->
          <section id="chat-room" class="chatroom">
            <!-- Rooms on the left, then the chatbox on the right-->
            <article id="chat-area">
              <div id="rooms" class="border border-primary">
                <button type="button" class="btn">+</button>
                {%for room in rooms%}
                  {{room|safe}}
                {%endfor%}
              </div>
              <div id="chat-box" class="border border-primary">
                <!-- The message bubbles -->
                {%for msg in msgs%}
                {{msg|safe}}
                {%endfor%}
              </div>
            </article>
            <article id="msg-box">
              <!-- Chat bar to type messages-->
              <div id="chat">
                <input type="text" placeholder=" Message {{room}}" />
                <button class="btn btn-default" id="send-btn"><img src="https://cdn0.iconfinder.com/data/icons/superglyph-communication/30/message-sending-1024.png"/> </button>
              </div>
            </article>
          </section>
        </main>
    </body>
